.breadcrumb {
    background-color: transparent;
    border: none;
}

.breadcrumb > li > a {
    color: #414042;

    font-size: 14px;
    letter-spacing: 2px;
    line-height: 24px;
}

.breadcrumb > li:first-child {
    padding-left: 0px;
}

.breadcrumb > li:last-child a {
    font-weight: 800;
}